.btn{
    height: 40px;

}
ul{
    gap: 10px;
}
a{
    color: rgb(0, 0, 0) !important;
    
}
a:hover{
    background-color: rgb(243, 105, 105);
    border-radius: 5px;
}

.navbar{
    background-color: rgb(241, 241, 120);
}
.hea{
    background-color: rgb(131, 52, 52);

}
