<nav class="navbar navbar-expand-lg navbar-dark p-2.5 hea" id="headerNav">
    <div class="container-fluid">
      <a class="navbar-brand d-block d-lg-none">
        
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
  
      <div class=" collapse navbar-collapse " id="navbarNavDropdown ">
        <ul class="navbar-nav mx-auto ">
          
            <li class="nav-item">
              <a class="nav-link mx-2 active mt-5" aria-current="page" routerLink="/admin/endereco-adm">ENDEREÇO</a>
            </li>
          
          
          <li class="nav-item ">
            <a class="nav-link mx-2 active mt-5  "  aria-current="page" routerLink="/admin/cliente-adm">CLIENTE</a>
          </li>
          <li class="nav-item">
            <a class="nav-link mx-2 active mt-5" routerLink="/admin/produto-adm">PRODUTO</a>
          </li>
          <li class="nav-item d-none d-lg-block">
            <div class="nav-link mx-2" href="#">
              <img src="../../../../assets/logo.png" height="100" />
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link mx-2 active mt-5" routerLink="/admin/pedido-adm">PEDIDO</a>
          </li>
          <li class="nav-item">
            <a class="nav-link mx-2 active mt-5" routerLink="/admin/sabor-adm">SABOR</a>
          </li>
          <li class="nav-item">
            <a class="nav-link mx-2 active mt-5" routerLink="/admin/atributo-adm">TIPO</a>
          </li>
          <li class="nav-item">
            <a class="nav-link mx-2 active mt-5" routerLink="/login">SAIR</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>