<div class="w-100 h-100 d-flex flex-column justify-content-center align-items-center mt-5">
  <div class="w-50 h-100">
    <div class="d-flex justify-content-between mb-4 ">
      <h3>ENDEREÇO</h3>
      <button type="button" (click)="adicionar(cadastro)" class="btn btn-success botao_cad">CADASTRAR</button>
    </div><br><br>
    <table class="table w-100"><br>
      <thead>
        <tr>
          <th scope="col">ID</th>
          <th scope="col">RUA</th>
          <th scope="col">BAIRRO</th>
          <th scope="col">NUMERO</th>
          <th scope="col">CEP</th>
          <th scope="col">OPÇÃO</th>
        </tr>
      </thead><br>
      <tbody>
        <tr *ngFor="let enderecop of lista; let i = index">
          <th scope="row">{{ enderecop.id }}</th>
          <td>{{ enderecop.rua }}</td>
          <td>{{ enderecop.bairro }}</td>
          <td>{{ enderecop.numero }}</td>
          <td>{{ enderecop.cep }}</td>
          <td>
            <button class="btn btn-primary editar" (click)="editar(cadastro , enderecop, i)">EDITAR</button> -
            <button class="btn btn-danger exclui " (click)="delete(enderecop.id)">DELETAR</button>
          </td>

        </tr>
      </tbody>
    </table>
  </div>
</div>
<ng-template #cadastro let-modal>
  <div class="modal-header">
    <h4 class="modal-title"> Endereco</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
  </div>
  <div class="modal-body">
    <app-endereco-details [endereco]="SelecionadaParaEdicao" (retorno)="addOuEditar($event)"></app-endereco-details>
  </div>
</ng-template>